<h2 class="cart-title">Carrinho</h2>

<div *ngIf="itensCarrinho.length > 0; else semProdutos">
  <ul>
    <li *ngFor="let itemCarrinho of itensCarrinho">
      <img [src]="itemCarrinho.imagem">
      <p>{{ itemCarrinho.descricao }}</p>
      <p>{{ itemCarrinho.preco | currency: 'BRL' }}</p>
      <label>
        Quantidade
        <input type="number" [(ngModel)]="itemCarrinho.quantidade" (change)="calculateTotal()">
      </label>
        <button class="remove-button" (click)="removeProductCar(itemCarrinho.id)"><i class="fa-solid fa-xmark"></i></button>

    </li>
  </ul>

<h2 class="cart-total">
  Total: {{ total }}
</h2>

<button class="buy-button" (click)="compar()">Comprar</button>

</div>

<ng-template #semProdutos>Nenhum produto foi adicionado ao Carrinho</ng-template>

